@import "~xp.css/dist/XP.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root,
.app {
  height: 100%;
}

.app {
  background-color: #dfdfdf;
  display: flex;
  padding: 0.5rem;
}

canvas {
  cursor: url('./assets/icons/pencil.png') 0 34, auto;
  background-color: #fff;
}

.tools {
  padding-left: 0.5rem;
}

.tools > * + * {
  margin-top: 1rem;
}

.colors-panel {
  width: 352px;
}

.color {
  width: 24px;
  height: 24px;
  cursor: pointer;
  box-shadow: inset -1px -1px #fff, inset 1px 1px grey, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
}

.colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 336px;
}

.modal-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 10;
}

.button {
  cursor: pointer;
}

.projects-container {
  overflow: auto;
  max-width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start; 
  padding: 0 10px;
  width: 600px;
}

.project-card {
  width: 100px;
  height: 100px;
  margin: 10px;  
  cursor: pointer;
  text-align: center;
}

.project-card-thumbnail {
  width: 100px;
  height: 100px;
  margin-bottom: 6px;
}

.project-card-name {
  margin-bottom: 10px;
}
